upstream fastcgi {
    #server unix:/var/run/php-fpm.sock;
    server 127.0.0.1:9000;
}

server {

        listen {{vhost_listen_ssl_port}} ssl http2;
        server_name {{vhost_server_name}} ;

        ssl on;
        ssl_certificate ssl/dev.loc.crt;
        ssl_certificate_key ssl/dev.loc.key;
        ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
	#ssl_ciphers         HIGH:!aNULL:!MD5;
        ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';

        ssl_prefer_server_ciphers on;
        ssl_session_cache shared:SSL:10m;

        location / {
	    proxy_read_timeout 1800;
	    proxy_send_timeout 1800;
	    proxy_connect_timeout 1800;
            proxy_pass_request_headers on;
            proxy_pass_request_body on;
            proxy_set_header HOST $host;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_pass http://127.0.0.1:{{varnish_listen_ssl_port}};
            proxy_redirect default;
       }

}

server {
    listen	{{vhost_listen_port}};
    server_name {{vhost_server_name}};

    root   {{vhost_document_root}};
    access_log  /var/log/nginx/{{vhost_server_name}}-access.log  main;

    set $ssl "off";
    if ($http_x_forwarded_proto = "https") {
        set $ssl "on";
    }

    location / {
        index  index.php;
        try_files $uri $uri/ @handler;
         expires 1h;
    }

    ## These locations would be hidden by .htaccess normally
    location ^~ /app/                { deny all; }
    location ^~ /includes/           { deny all; }
    location ^~ /lib/                { deny all; }
    location ^~ /media/downloadable/ { deny all; }
    location ^~ /pkginfo/            { deny all; }
    location ^~ /report/config.xml   { deny all; }
    location ^~ /var/                { deny all; }
    location ^~ /dev/                { deny all; }

    location @handler {
        rewrite / /index.php;
    }

    location ~ \.php/  {
        rewrite ^(.*.php)/ $1 last;
    }

    location ~ \.php$ {
        if (!-e $request_filename) { rewrite / /index.php last; }

        expires        off; ## Do not cache dynamic content
        fastcgi_pass   fastcgi;

        fastcgi_connect_timeout 600;
        fastcgi_read_timeout 600;
        fastcgi_send_timeout 600;
        fastcgi_buffer_size 4k;
        fastcgi_buffers 512 4k;
        fastcgi_busy_buffers_size 8k;
        fastcgi_temp_file_write_size 256k;
        fastcgi_intercept_errors off;

        #fastcgi_next_upstream error timeout http_500;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        #fastcgi_param  MAGE_RUN_CODE store_view_1_w_1_g_1;
        #fastcgi_param  MAGE_RUN_TYPE store;
        fastcgi_param HTTPS $ssl;
        include        fastcgi_params;
    }

    #Include h5bp config
    include h5bp/basic.conf;

}
